h2 {
  font-size: 2rem;
  color: #F44336;
  text-align: center;
}

p {
  font-size: 1.2rem;
  color: #555;
  text-align: center;
}

a {
  color: #F44336;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}